.clearfix::after{
	content:"";
	clear:both;
	display:block;
}
body{
	margin:0;
	padding:0;
}
.wrapper{
	width:1200px;
	margin:auto;
}

.header{
	background-color:rgb(69, 74, 82);
	height:100px;
	  position: fixed;
	  top: 0;
	  left: 0;
	  z-index: 9999;
	  width: 100%;	
}
.logo{
	float:left;
	color:white;
	font-weight:bold;
	font-size:40px;
}
.logo a{
	text-decoration:none;
	color:red;
	line-height:80px;
	padding-left:20px;	
}
.logo a:hover{
	color:white;
	transition:.5s;
}
.menu{
	float: right;
	text-align:center;
	margin-right: 100px;
}
.menu ul li{
	list-style-type:none;
	float:left;
	margin-left:10px;
	margin-right:10px;
	padding:15px 15px;
}
.menu ul li a{
	text-decoration:none;
	color:white;
	font-family: 'Fira Sans', sans-serif;
	display:block;
	}
.menu ul li a:hover{
	color:red;
	transition:.4s;
}
.mobileMenu {
    width: 100%;
    background: tomato;
    /* padding: 0px; */
    height: 40px;
    text-align: center;
	display: none;
}

.mobileMenu button {
    padding: 4px;
    background: transparent;
    border: none;
    font-size: 32px;
	cursor:pointer;
}
img{
	max-width:100%;
}

div.slider-img{
    background-image: url("img/bg_5.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    color:white;
    height:500px;
    margin-top: 100px;
    width: 100%;
}
.sl-bg {
    position: absolute;
    left: 45%;
    top: 50%;
}
.sl-bg a{
    display:inline-block;
    font-size: 20px;
    color:white;
    text-decoration: none;
    font-weight: 600;
}
.sl-bg a:hover{
	color:#E52B34;
	transition: .3s;
}
.sl-bg h4{
    display:inline-block;
    font-size: 20px;

}

.sl-bg h1{
    padding-left: 30px;
}
.sl-bg i{
    margin-left: 5px;
}



.ingridients-section{
	height:400px;
}
.left-in{
	width:550px;
	float:left;
	padding: 0 30px;
}
.rightin{
	width:550px;
	float:right;
	padding: 0 30px;
	box-sizing:border-box;
	
	
}
.img1 img{
	width:265px;
	float:left;
	height:400px;
}
.img2 img{
	width:265px;
	float:right;
	height:400px;
}
.rightin h2{
	
	display:inline-block;
	font-size:45px;
	font-family: 'Dancing Script', cursive;
	font-weight:bold;
	
}
.rightin p{
	color:#596275;
	line-height:200%;
	margin-top:-10px;
	width:400px;
}
.ing-btn{
	padding:15px 20px;
	background-color:#E52B34;
	border:1px solid #E52B34;
	color:white;
	font-weight:600;
	border-radius:3px;
}
.ing-btn:hover{
	border:1px solid #E52B34;
	color:red;
	background-color:white;
	cursor:pointer;
	transition:.4s;
}


div.fixed-img{
    background:url("img/bg_4.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    width:100%;
    height: 400px;
    position: relative;
    z-index: 2;
}

.nam{
    color:white;
    display: block;
    float: left;
    overflow: hidden;
    width:45%;
    margin-left:30px;
    text-align:center;
    padding:10px;
    box-sizing:border-box;
    font-size:2.5em;
    margin-top:65px;
    font-weight:550;
}

.fixed-img::before{
    content:"";
    position: absolute;
    background-color:rgba(0,0,0,0.6);
    z-index: -1;
    top: 0;
    right:0;
    bottom: 0;
    left: 0;
    width: 100%;
}



.section1{
	height:200px;
	background-color:#E52B34;
	text-align:center;

}
.section1 h1{
	font-family: "Roboto", Arial, sans-serif;
	padding-top:60px;
	color:white;
	margin-top:0px;
	
}

.btn6{
	padding:15px 20px;
	background-color:#E52B34;
	border:1px solid white;
	color:white;
	font-size:18px;
	border-radius:3px;
	margin-left:20px;
}

.btn6:hover{
	border:1px solid #E52B34;
	color:red;
	background-color:white;
	cursor:pointer;
	transition:.4s;
}



#slider {
	width: 100%;
	height: 400px;
	padding: 0px;
	z-index: 100;
	overflow: hidden;
	white-space: nowrap;
	box-sizing: border-box;
	background-color:rgba(0,0,0,0.6);
	margin-bottom: 0px;;
	
  }
  #slider > li {
	width: 100%;
	height: 100%;
	color:white;
	position: relative;
	display: inline-block;
	overflow: hidden;
	font-size: 15px;
	font-size: initial;
	line-height: normal;
	transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1); /* Slide css animation */
	background-size: cover;
	vertical-align: top;
	box-sizing: border-box;
	white-space: normal;
	text-align:center;
	
  }
  .ul-bg::before{
	content:"";
	height:400px;
	top:0;
	left:0;
	right:0;
	bottom:0;
	width:100%;
	z-index:-1;
	position:absolute;
  }
.ul-bg{
	margin-top:-16px;
	position:relative;
	background-image:url("img/bg_5.jpg");
	background-position:center;
	background-size:cover;
	background-repeat:no-repeat;
	z-index:2;
	background-attachment:fixed;
		
  }
.simg{
border-radius:50%;
}
li h1{
font-size:40px;

}
li p{
font-size:20px;
font-family: 'Fira Sans', sans-serif;
}




.footer-section{
	background-color:black;
	height:400px;
	
}
.side-section{
	width:280px;
	float:left;
	padding:10px 10px;
	margin-top:40px;
}
.side-section p{
	color:white;
	font-weight:bold;
	font-size:21px;
}
.side-section label{
	color:#BBB8B6;
	line-height:1.5;
	font-family: "Roboto", Arial, sans-serif;
	overflow:hidden;
}
.fav-icon{
	margin-top:40px;
}

.fav-icon a{
	color:white;
	padding:10px 14px; 
	text-decoration:none;
	background-color:red;
	border-radius:50%;
	font-size:20px;
	overflow:hidden;
}
.date{
	float:left;
}
.time{
	float:right;
}
.date a{
	display:block;
	color:white;
	text-decoration:none;
	margin-bottom:10px;
	font-family: "Roboto", Arial, sans-serif;
	cursor:text;
}
.time a{
	display:block;
	color:white;
	text-decoration:none;
	margin-bottom:10px;
	color:#BBB8B6;
	cursor:text;
}
.insta-img img{
	width:85px;
	height:70px;
}

.side-section input{
	width:250px;
	display:block;
	height:40px;
	margin:20px;
	background-color:#313131;
	border:none;
	color:white;
}
.btn7{
	width:258px;
	display:block;
	height:40px;
	margin:20px;
	background-color:#E52B34;
	border:1px solid #E52B34;
	color:white;
	font-size:18px;
	border-radius:3px;
	margin-left:20px;
}
.btn7:hover{
	border:1px solid #E52B34;
	color:red;
	background-color:white;
	cursor:pointer;
	transition:.4s;
}
.side-section input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color:#BBB8B6;
  text-align:center;
  font-weight:bold;
}
.side-section input::-moz-placeholder { /* Firefox 19+ */
  color:#BBB8B6;
  text-align:center;
  font-weight:bold;
}
.side-section input:-ms-input-placeholder { /* IE 10+ */
  color:#BBB8B6;
  text-align:center;
  font-weight:bold;
}
.side-section input:-moz-placeholder { /* Firefox 18- */
  color:#BBB8B6;
  text-align:center;
  font-weight:bold;
}



.footer{
	text-align:center;
	background-color:#E52B34;
	color:white;
	height:80px;

}
.footer p{
    margin:0px;
    padding:32px;
}




@media only screen and (max-width: 600px){
	.wrapper{
		width: 100%;
		
	}
	.logo{
		text-align: center;
		float:none;
	}
	.header{
		position: static;
		height:120px;
		
	}
	.mobileMenu{
		display: block;
	}
	.menu{
		width: 100%;
		margin-top: 0px;
		display: none;
		z-index: 100;
		margin-right:0px;
	}
	.menu ul{
		padding: 0px;
		width: 100%;
		margin: 0px;
	}
	.menu ul li{
		float: none;
		width:100%;
		padding:15px 0px;
		margin-left: 0px;
		background-color: rgb(69, 74, 82);
	}
	div.slider-img{
		width:100%;
		margin-top: 0px;
		position:static;
	}
	.sl-bg{
		text-align: center;
		position: static;
		padding-top:250px;
	}
	
	.sl-bg h1{
		margin-left: 0px;
	}




	.ingridients-section {
		height: 1060px;
		width: 100%;
	}
	.left-in {
		width: 100%;
		/* float: left; */
		/* padding: 0 30px; */
		padding:0px;
		float: none;
	}
	.img1 img {
		width: 100%;
		/* float: left; */
		/* height: 400px; */
		float: none;
	}
	.img2 img {
		width: 100%;
		/* float: right; */
		height: 400px;
		float: none;
	}
	.rightin p {
		/* color: #596275; */
		line-height: 140%;
		/* margin-top: -10px; */
		width: 100%;
	}
	.rightin h2 {
		/* display: inline-block; */
		font-size: 30px;
		/* font-family: 'Dancing Script', cursive; */
		/* font-weight: bold; */
	}
	.rightin {
		width: 100%;
		/* float: right; */
		padding: 0px;
		/* box-sizing: border-box; */
	}

	.nam {
		color: white;
		display: block;
		/* float: left; */
		float: none;
		overflow: hidden;
		width: 100%;
		/* margin-left: 30px; */
		margin-left: 0px;
		text-align: center;
		/* padding: 10px; */
		padding: 0px;
		/* box-sizing: border-box; */
		font-size: 1.5em;
		margin-top: 0px;
		font-weight: 600;
		/* margin-top: 5px; */
	}

	.num p{
		margin-top: 55px;
	}
	.section1 {
		height: 245px;
		background-color: #E52B34;
		text-align: center;
		width: 100%;
	}
	.ul-bg{
		height: 448px;
		width: 100%;
	}
	#slider{
		height: 450px;
	}























	
.footer-section{
	height: 1130px;
}
.side-section{
	text-align: center;
	/*! float:none; */
	width: 100%;
	padding:0px;
	/*! overflow: hidden; */
}
.time{
	float: none;
}
.date{
	margin-left: 20%;
}

.side-section input{
	width: 300px;
	
	display: inline-block;
}
.btn7{
	display: inline-block;
	width: 300px;
}
div.insta-img{
	width: 100%;
	
}
.footer{
	height: 100px;
}


 /*dark mode*/
 div .check{
	position: absolute;
	left:10px;
	top:23px;
}
div input[type="checkbox"]{
position:relative;
width:70px;
height: 30px;
-webkit-appearance: none;
background-color: gray;
border-radius: 20px;
outline: none;
}
div input[type="checkbox"]::before{
	content: " ";
	position: absolute;
	left:0px;
	top:0px;
	background-color: rgb(218, 51, 22);
	width:30px;
	height: 30px;
	border-radius: 50%;
	transition: .5s all ease-in-out;
}

/*dark mode*/

}



/*for dark mode*/

.check{
    position: absolute;
    top:15px;
    right: 25px;
    
}
input[type="checkbox"]{
    position:relative;
    width:80px;
    height: 40px;
    -webkit-appearance: none;
    background-color: gray;
    border-radius: 20px;
    outline: none;
}
input:checked[type="checkbox"]{
    background-color: rgb(255, 255, 255);
}
input[type="checkbox"]::before{
    content: " ";
    position: absolute;
    left:0px;
    top:0px;
    background-color: rgb(218, 51, 22);
    width:40px;
    height: 40px;
    border-radius: 50%;
    transition: .5s all ease-in-out;
}
input:checked[type="checkbox"]::before{
    left: 40px;
    transition: .5s all ease-in-out;
}

.text{
    font-weight: bold;
    position: absolute;
    top: 10px;
    display: inline-block;
    left: -7em;
}

/* dark mode colors class*/

  
  body {
    color: #222;
    background: #fff;
  }
  body.dark-mode {
    color: #eee;
    background: #121212;
  }
  
  a {
    color: #eb1111;
  }
 
  body.dark-mode a{
    color: #eb1111;

  }
  .fab{
	  color:white;
  }
 

  body.dark-mode .header{
	background-color: black;
}
 body.dark-mode h1{
	  color:white;
  }
 body.dark-mode h2{
	  color:white;
  }
  